<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{{app.titulo_empresa}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type='text/css'>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{app.descricao_empresa}}">
    <meta name="author" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{app.site_empresa}}/images/favicon.ico" />
    <meta name="language" content="pt" />      
        
        
</head>
<body role="document">
    {% set active = active|default(null) %}    
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">-</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img id="logoClick" src="{{app.site_empresa}}/images/logoBox.png" style="cursor:pointer; width: 40px;height: 40px;margin-right: 10px;margin-left:10px;margin-top: 5px" alt="Logo Reclame Imóvel" />
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('homeuser') }}"><span class="glyphicon glyphicon-home"></span> {{ 'Principal'|trans }}</a></li>
            <li><a href="{{ path('adicionar_reclamacao') }}"><span class="glyphicon glyphicon-bullhorn"></span> {{ 'Ocorrência'|trans }}</a></li>
            <li><a href="{{ path('admin_sindicos')}}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Síndico</a></li>
            
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Condomínio <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('todas_reclamacoes')}}"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Ocorrência</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Circular</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_morador')}}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Morador</a></li>
                {% endif %}
                <li><a href="#"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Notícia</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Documentos</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Portaria <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('todas_reclamacoes')}}"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Consulta Carro</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Consulta Morador</a></li>
              </ul>
            </li>
            {% else %}
            <li {% if 'homepage' == active %}class="active"{% endif %}><a href="{{ path('homepage') }}"><i class="icon-home"></i> {{ 'Principal'|trans }}</a></li>
            <li><a href="#about">Quem somos</a></li>
            {% endif %}
            
            {% if is_granted('ROLE_ADMIN') %}
            <!-- <li><a href="#excluirReclamacao"><span class="glyphicon glyphicon-bullhorn"></span> {{ 'Excluir Reclamacao'|trans }}</a></li> -->
            {% endif %} 
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Sugestão</a></li> -->
                {% if is_granted('ROLE_USER') %}
                <!-- <li><a href="/morador/morador/notificacoes"><span class="glyphicon glyphicon-envelope"></span> &nbsp; <span class="badge pull-right">42</span></a></li> -->
                    <li><a href="{{ path('me') }}"><span class="glyphicon glyphicon-user"></span> Meus Dados</a></li>
                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-download"></span> {{ 'Sair'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-upload"></span> {{ 'Entrar'|trans }}</a></li>
                {% endif %} 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% block secondaryNavigation %}
    {% endblock %}
        <div class="container">
            {% block content %}
        </div>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/adicionar.js" type="text/javascript" ></script>    

</body>
</html>
