{% extends 'layout.html.twig' %}
{% block content %}


    <div class="col-md-8">
        <h1>Minhas Reclamações</h1>
        <div class="btn-group">
            <button type="button" id="adicionar_busca" class="btn btn-success">Buscar e Adicionar Reclamação</button>
        </div>
        <br />
        <br />
        {% for reclamacao in aLista %}
            
                <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{uri}}/{{reclamacao.id}}">
                        <h4><b>{{reclamacao.titulo}}</b></h4>
                        <span style="font-size: 12px">{{reclamacao.condominio.cidade}} - {{reclamacao.condominio.uf}} </span><br />
                        <span style="font-size: 10px">{{reclamacao.dt_cadastro.date}}</span>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body text-justify">
                            <a href="{{uri}}/{{reclamacao.id}}">{{reclamacao.descricao}}</a>
                        </div>
                        <div style="padding: 11px;color:#080808">
                            <div style="float: right;font-size: 10px"><b>Autor:</b> {{reclamacao.user.name}} - Bloco: {{reclamacao.user.bloco}} - Ap: {{reclamacao.user.ap}}</div>    
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        {% include "pagination_busca.html.twig" %}
    </div>

    
{% endblock %}
