{% extends 'admin_layout_reclamacao.html.twig' %}

{% block content %}


    <div class="col-md-10">
        <h4>Todas Reclamações</h4>
        <ul class="list-group">
            {% for reclamacao in aLista %}   
                <a href="{{path('view')}}/{{reclamacao.id}}">
            <li class="list-group-item"> 
                
                        <h4><b>{{reclamacao.titulo}}</b></h4>                        
                        <span style="font-size: 11px; color: #000000;text-decoration: none;"><b>Cadastro:</b> {{reclamacao.dt_cadastro.date}}</span>
                        <span style="font-size: 11px; color: #000000;text-decoration: none;"><b>Autor:</b> {{reclamacao.user.name}} - Bloco: {{reclamacao.user.bloco}} - Ap: {{reclamacao.user.ap}}</span>
                        <br>
                
            </li></a>
                        
            <br>
        {% endfor %}
        </ul>
    </div>

    
{% endblock %}
